@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;900&display=swap');
*{
    font-family: 'Roboto','Helvetica Neue',Helvetica,Tahoma,Arial,Sans-serif;
}
body{
    background-color: #F5F5F5 !important;
}
a{
    text-decoration: none;
    color: black;
}
/* // Osama Css */
@media (max-width : 991px){
    body header.mantine-Header-root {
        z-index: 3;
        height: 100px;
    }
    body .mantine-19jz9vm {
        width: 100px;
    }
}

@media (max-width: 767px){
    /* .header.mantine-Header-root .mantine-6i13iz {
        height: 100px;
    } */
    .mantine-1vghtr5 {
        padding: 50px 0;
    }
    /* .mantine-woyoh2 .mantine-6siwbt,
    .mantine-woyoh2 .mantine-gikplz {
        margin-bottom: 0px;
    } */
    .mantine-l7j47y {
        margin-top: 20px;
        padding: 25px 0;
    }
    .mantine-Input-input {
        padding: 0 0 0 34px;
        font-size: 12px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .mantine-InputWrapper-label {
        font-size: 12px;
    }
    .mantine-Text-root.mantine-p717wt {
        margin-top: 9px;
        font-size: 14px;
    }
    body .mantine-1g14e8k {
        padding: 0 5px !important;
        text-align: center;
    }
    .mantine-Indicator-indicator{
        font-size: 12px;
        height: 18px;
    }
}
    